{
  "verifyConditions": [
    "@semantic-release/github"
  ],
  "publish": [
    "@semantic-release/github"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ],
  "branches": [
    "main"
  ]
}
